<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" id="form">
        <input type="text" id="name" name="name"><br/>
        <input type="number" name="price" id="price"><br/>
        <textarea name="details" id="details"></textarea><br/>
        <button type="button" id="send">Save Product Info</button>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="app/views/scripts/script.js"></script>
</body>
</html>